html {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Titillium Web", sans-serif;
    position: relative;
    background-color: #222;
}
#main {
    width: 100%;
    height: 100%;
    position: absolute;
}
#main_content {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.center {
    display: block;
    margin: auto;
}
#avatar {
    width: 150px;
    padding-bottom: 20px;
}
h1 {
    margin: 0;
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
}
h2 {
    margin: 0;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
}
.main_text {
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
ul li {
    display: inline;
}
#links {
    padding-top: 50px;
}
#links_table {
    display: table;
    margin: 0 auto;
}
.links_icon {
    padding-left: 7px;
    padding-right: 7px;
    height: 60px;
}